/* Tweaks to the styling of "Chosen". */
.wf-field-select select,
.wf-field-select2 select,
.wf-field-select .chosen-container,
.wf-field-select2 .chosen-container {
  min-width: 300px;
}
.wf-field select {
  min-width: 75px;
}
.wf-field .wp-picker-holder {
  position: absolute;
  z-index: 99;
}
.wf-field-typography {
  line-height: 2.8;
  /* Fixes alignment of Chosen fields with the colourpicker. */
}
.wf-field-typography .chosen-container.woo-typography-font-face {
  min-width: 250px;
}
.wf-field-typography .wp-picker-clear {
  position: relative;
  top: 9px;
}
.wf-field-border {
  line-height: 2.8;
  /* Fixes alignment of Chosen fields with the colourpicker. */
}
.wf-field-border .wp-picker-clear {
  position: absolute;
  top: 8px;
}
.wf-info-box {
  border: 1px solid #CCCCCC;
  background: #EBEBEB;
  max-width: 650px;
  padding: 0.8em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-left: -15px;
}
.wf-info-box .title {
  margin-top: 0;
}
.radio-images {
  position: relative;
  top: -30px;
}
.radio-image-thumb {
  border: 3px solid #CCC;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 5px;
  width: 45px;
  height: 35px;
  padding: 2px;
  background-color: #e1e1e1;
}
.radio-image-thumb:hover,
.radio-image-thumb.active {
  border-color: #999;
}
.wf-field-timestamp img,
.wf-field-calendar img {
  position: relative;
  top: 0px;
  left: 4px;
  margin-right: 4px;
}
.wf-field-border .wp-picker-container {
  position: relative;
  /* top: 8px; */
}
.wf-field-multi_field input {
  max-width: 75px;
}
.image-preview.no-image img {
  display: none;
}
.image-preview.no-image .remove {
  display: none;
}
.image-preview.has-image {
  padding: 0.15em;
  padding-top: 0.5em;
}
.image-preview.has-image .remove {
  display: block;
  font-size: 80%;
}
.image-preview img {
  max-width: 175px;
  height: auto;
}
.wf-field-typography .unit-px .hide-if-px {
  display: none;
}
.wf-field-typography .unit-em .hide-if-em {
  display: none;
}
.ui-datepicker {
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  margin-top: 5px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.ui-datepicker .ui-datepicker-header {
  background: #EBEBEB;
  border-bottom: 1px solid #DDDDDD;
  padding: 0.6em 0.6em;
}
.ui-datepicker .ui-datepicker-header .ui-corner-all {
  position: absolute;
  top: 7px;
  display: inline-block;
  cursor: pointer;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
  left: 8px;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-next {
  right: 8px;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
.ui-datepicker .ui-datepicker-calendar {
  border-spacing: 0;
}
.ui-datepicker .ui-datepicker-calendar th {
  padding: 0.5em;
  text-align: right;
}
.ui-datepicker .ui-datepicker-calendar td {
  text-align: right;
}
.ui-datepicker .ui-datepicker-calendar td a {
  display: block;
  padding: 0.5em;
  text-decoration: none;
}
.ui-datepicker .ui-datepicker-calendar td a.ui-state-default {
  background: #EBEBEB;
}
.ui-datepicker .ui-datepicker-calendar td a.ui-state-active {
  background: #21759b;
  color: #FFFFFF;
}
.ui-datepicker .ui-datepicker-calendar td a.ui-state-highlight {
  background: #CDCDCD;
}
.ui-datepicker .ui-datepicker-calendar td.ui-state-disabled {
  background: #FFFFFF;
}
.wf-field-slider {
  /* Component containers
	----------------------------------*/
  /* Interaction states
	----------------------------------*/
  /* Misc visuals
	----------------------------------*/
  /* Corner radius */
}
.wf-field-slider .chosen-container {
  display: none;
}
.wf-field-slider .slider-value {
  position: relative;
  bottom: 16px;
  left: 325px;
  font-weight: bold;
  font-size: 1.2em;
  width: 75px;
}
.wf-field-slider .ui-slider {
  max-width: 300px;
}
.wf-field-slider .ui-slider {
  position: relative;
  text-align: left;
}
.wf-field-slider .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default;
}
.wf-field-slider .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
}
.wf-field-slider .ui-slider-horizontal {
  height: .8em;
}
.wf-field-slider .ui-slider-horizontal .ui-slider-handle {
  top: -0.3em;
  margin-left: -0.6em;
}
.wf-field-slider .ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.wf-field-slider .ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
.wf-field-slider .ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}
.wf-field-slider .ui-slider-vertical {
  width: .8em;
  height: 100px;
}
.wf-field-slider .ui-slider-vertical .ui-slider-handle {
  left: -0.3em;
  margin-left: 0;
  margin-bottom: -0.6em;
}
.wf-field-slider .ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%;
}
.wf-field-slider .ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
}
.wf-field-slider .ui-slider-vertical .ui-slider-range-max {
  top: 0;
}
.wf-field-slider .ui-widget {
  font-family: Verdana, Arial, sans-serif /*{ffDefault}*/;
  font-size: 1.1em /*{fsDefault}*/;
}
.wf-field-slider .ui-widget .ui-widget {
  font-size: 1em;
}
.wf-field-slider .ui-widget input,
.wf-field-slider .ui-widget select,
.wf-field-slider .ui-widget textarea,
.wf-field-slider .ui-widget button {
  font-family: Verdana, Arial, sans-serif /*{ffDefault}*/;
  font-size: 1em;
}
.wf-field-slider .ui-widget-content {
  border: 1px solid #aaaaaa /*{borderColorContent}*/;
  background: #ffffff /*{bgColorContent}*/ url(../images/ui-bg_flat_75_ffffff_40x100.png) /*{bgImgUrlContent}*/ 50% /*{bgContentXPos}*/ 50% /*{bgContentYPos}*/ repeat-x /*{bgContentRepeat}*/;
  color: #222222 /*{fcContent}*/;
}
.wf-field-slider .ui-widget-content a {
  color: #222222 /*{fcContent}*/;
}
.wf-field-slider .ui-widget-header {
  border: 1px solid #aaaaaa /*{borderColorHeader}*/;
  background: #cccccc /*{bgColorHeader}*/ url(../images/ui-bg_highlight-soft_75_cccccc_1x100.png) /*{bgImgUrlHeader}*/ 50% /*{bgHeaderXPos}*/ 50% /*{bgHeaderYPos}*/ repeat-x /*{bgHeaderRepeat}*/;
  color: #222222 /*{fcHeader}*/;
  font-weight: bold;
}
.wf-field-slider .ui-widget-header a {
  color: #222222 /*{fcHeader}*/;
}
.wf-field-slider .ui-state-default,
.wf-field-slider .ui-widget-content .ui-state-default,
.wf-field-slider .ui-widget-header .ui-state-default {
  border: 1px solid #d3d3d3 /*{borderColorDefault}*/;
  background: #e6e6e6 /*{bgColorDefault}*/ url(../images/ui-bg_glass_75_e6e6e6_1x400.png) /*{bgImgUrlDefault}*/ 50% /*{bgDefaultXPos}*/ 50% /*{bgDefaultYPos}*/ repeat-x /*{bgDefaultRepeat}*/;
  font-weight: normal /*{fwDefault}*/;
  color: #555555 /*{fcDefault}*/;
}
.wf-field-slider .ui-state-default a,
.wf-field-slider .ui-state-default a:link,
.wf-field-slider .ui-state-default a:visited {
  color: #555555 /*{fcDefault}*/;
  text-decoration: none;
}
.wf-field-slider .ui-state-hover,
.wf-field-slider .ui-widget-content .ui-state-hover,
.wf-field-slider .ui-widget-header .ui-state-hover,
.wf-field-slider .ui-state-focus,
.wf-field-slider .ui-widget-content .ui-state-focus,
.wf-field-slider .ui-widget-header .ui-state-focus {
  border: 1px solid #999999 /*{borderColorHover}*/;
  background: #dadada /*{bgColorHover}*/ url(../images/ui-bg_glass_75_dadada_1x400.png) /*{bgImgUrlHover}*/ 50% /*{bgHoverXPos}*/ 50% /*{bgHoverYPos}*/ repeat-x /*{bgHoverRepeat}*/;
  font-weight: normal /*{fwDefault}*/;
  color: #212121 /*{fcHover}*/;
}
.wf-field-slider .ui-state-hover a,
.wf-field-slider .ui-state-hover a:hover {
  color: #212121 /*{fcHover}*/;
  text-decoration: none;
}
.wf-field-slider .ui-state-active,
.wf-field-slider .ui-widget-content .ui-state-active,
.wf-field-slider .ui-widget-header .ui-state-active {
  border: 1px solid #aaaaaa /*{borderColorActive}*/;
  background: #ffffff /*{bgColorActive}*/ url(../images/ui-bg_glass_65_ffffff_1x400.png) /*{bgImgUrlActive}*/ 50% /*{bgActiveXPos}*/ 50% /*{bgActiveYPos}*/ repeat-x /*{bgActiveRepeat}*/;
  font-weight: normal /*{fwDefault}*/;
  color: #212121 /*{fcActive}*/;
}
.wf-field-slider .ui-state-active a,
.wf-field-slider .ui-state-active a:link,
.wf-field-slider .ui-state-active a:visited {
  color: #212121 /*{fcActive}*/;
  text-decoration: none;
}
.wf-field-slider .ui-widget :active {
  outline: none;
}
.wf-field-slider .ui-corner-all,
.wf-field-slider .ui-corner-top,
.wf-field-slider .ui-corner-left,
.wf-field-slider .ui-corner-tl {
  -moz-border-radius-topleft: 4px /*{cornerRadius}*/;
  -webkit-border-top-left-radius: 4px /*{cornerRadius}*/;
  -khtml-border-top-left-radius: 4px /*{cornerRadius}*/;
  border-top-left-radius: 4px /*{cornerRadius}*/;
}
.wf-field-slider .ui-corner-all,
.wf-field-slider .ui-corner-top,
.wf-field-slider .ui-corner-right,
.wf-field-slider .ui-corner-tr {
  -moz-border-radius-topright: 4px /*{cornerRadius}*/;
  -webkit-border-top-right-radius: 4px /*{cornerRadius}*/;
  -khtml-border-top-right-radius: 4px /*{cornerRadius}*/;
  border-top-right-radius: 4px /*{cornerRadius}*/;
}
.wf-field-slider .ui-corner-all,
.wf-field-slider .ui-corner-bottom,
.wf-field-slider .ui-corner-left,
.wf-field-slider .ui-corner-bl {
  -moz-border-radius-bottomleft: 4px /*{cornerRadius}*/;
  -webkit-border-bottom-left-radius: 4px /*{cornerRadius}*/;
  -khtml-border-bottom-left-radius: 4px /*{cornerRadius}*/;
  border-bottom-left-radius: 4px /*{cornerRadius}*/;
}
.wf-field-slider .ui-corner-all,
.wf-field-slider .ui-corner-bottom,
.wf-field-slider .ui-corner-right,
.wf-field-slider .ui-corner-br {
  -moz-border-radius-bottomright: 4px /*{cornerRadius}*/;
  -webkit-border-bottom-right-radius: 4px /*{cornerRadius}*/;
  -khtml-border-bottom-right-radius: 4px /*{cornerRadius}*/;
  border-bottom-right-radius: 4px /*{cornerRadius}*/;
}
